# media files
**.jpg
**.jpeg
**.png
**.pdf
**.zip

# local test files
**_test.py

# python cache
**/__pycache__/**

# virtual environment
venv/**

# Vim Swap files 
**.swp
**.swo
**.swa

#ros env files
**/build/**
**/devel/**
.catkin_workspace
esp-files/ledc/README.md
esp-files/ledc/.vscode/




