<launch>

<node pkg="feather" name="status_pub" type="status_sender.py" output="screen">
</node>

<node pkg="feather" name="lidar_pub" type="lidar_simulator" output="screen">
</node>

<node pkg="feather" name="Qt_node" type="mainwindow_gui.py" output="screen">
</node> 

<node pkg="feather" name="coordinate_server" type="coordinate_server" output="screen">
</node> 

<node pkg="feather" name="communication_server" type="communication" output="screen">
</node> 

</launch>
