<launch>


<node pkg="feather" name="pico_blanco" type="cordo.py" output="screen">
</node>

<node pkg="feather" name="camera_node" type="img_sim.py" output="screen">
</node> 

<node pkg="feather" name="coordinate_server" type="coordinate_server" output="screen">
</node> 

<node pkg="feather" name="ihm_node" type="mainwindow_gui_sim.py" output="screen">
</node> 

</launch>
